<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :order_orig, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :order_orig, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_company, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_company, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_address_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_address_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_address_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_address_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_zip, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tracking, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tracking, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ship_notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :ship_notes, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipping_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shipping_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :req_ship_method_text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :req_ship_method_text, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :req_ship_method_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :req_ship_method_price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :originator, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :originator, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :originator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :originator_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :status, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :public_note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :public_note, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gift, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :gift, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                order_path, :class => 'btn' %>
  </div>
<% end %>
