<table id="orderView" class="tablesorter table table-striped" style="clear:both;"> 
	<thead>
	<tr>
		<th width="30px">Order</th>
		<th width="50px">Date</th>
		<th width="140px">Ship To</th>
		<th>Items</th>
		<th width="170px">Status</th>
	</tr>
	</thead>
	<tbody>
<% i = 0 %>
<% @orders.each_with_index do |order, index| %>
<% if order.gestating? then @order_class = "gestating" else @order_class = "" end %>
<% i += 1 %>
	<tr class="<%= @order_class %>">
		<td><%= link_to order.order_orig, order_path(order) %><br />
			</td>
		<td>
			<%= DateTime.parse(order.created_at).strftime("%m/%d/%y") %><br />
			<%= DateTime.parse(order.created_at).strftime("%I:%M:%S") %><br />
			<%= DateTime.parse(order.created_at).strftime("%p") %>
		</td>	
		<td>
			<%
	    @address = "<strong>" + (order.shipping_name || order.full_name || "")+ "</strong>" + "<br />"
	    if !order.shipping_company.blank? then @address +=(order.shipping_company || "")+ "<br />" end
	    @address += (order.shipping_address_1 || "") + "<br />"
	    if !order.shipping_address_2.blank? then @address +=(order.shipping_address_2 || "")+ "<br />" end
	    @address += (order.shipping_city || "") + ", " + (order.shipping_state || "") + " " + (order.shipping_zip || "") + "<br />" + (order.shipping_country || "")
	    @address += "<br />" + (order.email || "")
			%>
	    <%= @address.html_safe %>
		</td>
		<td>
			<% order.order_items.each_with_index do |line_item, index| %>
			<% if line_item.quantity && line_item.quantity > 1 then @quantity = "<strong>#{line_item.quantity} PIECES</strong>" else @quantity = "#{line_item.quantity} piece" end %>
			<%= link_to [line_item.description, @quantity].join(" - ").html_safe, item_path(line_item.item_id) %>
			<% unless index == order.order_items.length - 1 %>
			<hr />
			<% end %>
			<% end %>
			<span style="color:red;"><%= order.ship_notes %></span>
		</td>
		<td><strong><%= order.status  %></strong><br />
			<%# Should be order.status_name %>
			<%#= order.humanize_ship_method %><br />
			<%= order.ship_method %><br />
			<%#= link_to order.tracking, order.tracking_link, :target => 'blank' %>
			<%= order.tracking %>
			<br />

<span class="tooltip-top-right pointer">
	<strong><%#= number_to_currency(order.total_fee["total"]) %><%= number_to_currency(order.ship_actual_cost) %></strong>
	<% if order.billed %>
		Total
	<% else %>
		Plus Postage and Packaging
	<% end %> 
</span>

		</td>
		
	</tr>

<% end %>
	</tbody>
</table>