<%= form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sku, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sku, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :quantity, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exp_quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exp_quantity, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :originator, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :originator, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :originator_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :originator_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :available, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :available, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_file_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_updated_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :image_updated_at, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_originator_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_originator_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vendor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vendor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :media_mail, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :media_mail, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :packaging, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :packaging, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :length, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :width, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :width, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :height, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                items_path, :class => 'btn' %>
  </div>
<% end %>
